body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;
}

.reset {
    border-radius: 0.3em;
    margin: 5px;
    padding: 10px 20px;
    background-color: unset;
    cursor: pointer;
    color: #fff;
}
.button-rock, .button-paper, .button-scissor{
    width: 5em;
    height: 5em;
    color: #fff;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
    border: white 0.14em solid;
    border-radius: 50%
}
.rps{
    width: 2.5em;
    height: 2.5em;
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: #3273d0;
}

textarea {
    width: 40%;
    margin: auto;
    display: flex;
    text-align: center;
    vertical-align: center;
    resize: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 4em;
}
